body {
  background-color: #f9f7fe;
  font-family: Helvetica, Arial, sans-serif;
}
:root {
  --accent-purple: #6f42c1;
}
a {
  color: var(--accent-purple);
}
.container {
  margin: 120px auto;
  max-width: 600px;
  background: linear-gradient(180deg, #ffffff 0%, #faf8ff 100%);
  border-radius: 12px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272844;
}
.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}
form {
  display: flex;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}
.instructions {
  padding: 30px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 88%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 28px;
  color: #272844;
}

.submit-button {
  margin-left: 10px;
  background: var(--accent-purple);
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}
.poem {
  font-size: 16px;
  background: linear-gradient(180deg, #ffffff 0%, #f3f0ff 100%);
  padding: 20px;
  line-height: 2;
  border-left: 3px solid var(--accent-purple);
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-radius: 8px;
}

.hidden {
  display: none;
}
.poem strong {
  color: aqua;
}
footer {
  text-align: center;
  font: size 14px;
  margin-top: 30px;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
